/* Estilos gerais do corpo */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #121212;
    color: #E0E0E0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Container principal */
.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
}

/* Estilo do player */
.player {
    margin: 20px 0;
}

/* Modal fixo para controle de volume */
.volume-control {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

/* Estilos dos controles de volume */
.volume-control label {
    margin-bottom: 5px;
    font-size: 14px;
}

.volume-control input[type="range"] {
    width: 100px;
    margin-bottom: 10px;
}

/* Estilos do título e da descrição */
h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
    color: #B0B0B0;
    line-height: 1.6;
}

small {
    color: #888;
}

button {
    background-color: #333333;
    color: #E0E0E0;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #444444;
}

#playPause {
    background-color: #BB86FC;
    color: #121212;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.1s ease-in-out;
}

#playPause:hover {
    background-color: #9B66E4;
}

#playPause:active {
    transform: scale(0.95);
}

#volumeModal {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
}

#volumeSlider {
    width: 100%;
    appearance: none;
    height: 5px;
    background: #BB86FC;
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.3s;
}

#volumeSlider:hover {
    opacity: 1;
}

.youtube-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Limite para telas grandes */
    aspect-ratio: 16 / 9; /* Mantém proporção widescreen */
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
